<link rel="stylesheet" href="/css/footer.css">

<footer class="row mt-5">
    <div class="footer col-12 col-sm-8">
        <ul>Contact Support
            <li><i class="fas fa-phone-alt"></i>&nbsp; 123456789</li>
            <li><i class="far fa-envelope"></i><a href="mailto:abc@xyz.com">&nbsp; abc@xyz.com</a></li>
        </ul>
        <ul>Social
            <li>
                <button type="button" class="btn bmd-btn-fab bmd-btn-fab-sm">
                    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                </button>
                <button type="button" class="btn bmd-btn-fab bmd-btn-fab-sm">
                    <a href="https://twitter.com/explore" target="_blank"><i class="fab fa-twitter"></i></a>
                </button>
                <button type="button" class="btn bmd-btn-fab bmd-btn-fab-sm">
                    <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                </button>
                <button type="button" class="btn bmd-btn-fab bmd-btn-fab-sm">
                    <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
                </button>
            </li>
        </ul>
    </div>
</footer>

<div class="last-section">
    <div class="line"></div>
    <div class="copyright">&copy; <script>document.write(new Date().getFullYear());</script> dashboard.com </div>
</div>
