<link rel="stylesheet" href="/css/_side-nav-area.css">


<div class="nav-area">
    <!-- <div class="mb-4"> <h4 class="text-center">Data Input</h4>
        <div>
            <a href="/users/profile-info" class="active"><i class="far fa-id-badge"></i></a>
        </div>
        <div>
            <a href="/users/payments"><i class="fas fa-money-bill-wave-alt"></i> Payment Transactions</a>
        </div>
    </div> 
    <div class="mb-4"> <h4 class="text-center">Reports</h4>
        <div>
            <a href="/users/reports"><i class="fas fa-file-invoice"></i>&nbsp;Payment Reports</a>
        </div>
    </div> -->
    <div><a href="/users/profile-info"><i class="far fa-id-badge fa-2x mt-4 ml-4"></i> <span> &nbsp; Profile Information</span></a></div><br>
    <div><a href="/users/payments"><i class="fas fa-money-bill-wave-alt fa-2x mt-4 ml-4"></i> <span> &nbsp; Payment Transactions</span></a></div><br>
    <div><a href="/users/reports"><i class="fas fa-file-invoice fa-2x mt-4 ml-4"></i> <span> &nbsp; Payment Reports</span></a></div>
</div>


<script src="/js/side-nav-area.js"></script>